* {
  margin: 0;
  padding: 0;
}
body {
  width: 1300px;
  margin: 0 auto;
}
.all {
  height: 1000px;
  width: 1300px;
  background-image: url(../assets/partySelect/partySelectBack.png);
}
.selection {
  width: 100px;
  float: left;
  margin-top: 700px;
}
#selection1 {
  margin-right: 340px;
  margin-left: 160px;
}
#selection2 {
  margin-right: 340px;
}
