* {
  margin: 0;
  padding: 0;
}
body {
  width: 1300px;
  margin: 0 auto;
}
.all {
  height: 1000px;
  width: 1300px;
  background-image: url(./story2_back.png);
  position: fixed;
}
#closet_left {
  left: 0;
  transform-origin: left;
  background: url("./door_left.png") no-repeat;
  background-size: cover;
  transition: transform 3s ease;
}
#closet_right {
  right: 0;
  transform-origin: right;
  background: url("./door_right.png") no-repeat;
  background-size: cover;
  transition: transform 3s ease;
}
.door {
  width: 165px;
  height: 360px;
  margin: 0;
}
.closet {
  margin: 345px 350px 50px 490px;
}
#open_closet {
  margin: 50px 500px 50px 600px;
  width: 130px;
  height: 50px;
}
#next {
  width: 70px;
  height: 70px;
  float: right;
  margin: 10px 20px 0 0;
}
