* {
  margin: 0;
  padding: 0;
}
body {
  width: 1300px;
  margin: 0 auto;
}
.all {
  height: 1000px;
  width: 1300px;
  background-color: #ffdada;
  position: fixed;
}
.closet {
  margin: 20px 400px 0 500px;
  position: relative;
  width: 300px;
  height: 500px;
  background-size: cover;
  background: url("./closet_body.png") no-repeat center center;
}
#closet_left {
  left: 0;
  transform-origin: left;
  background-size: cover;
}
#closet_right {
  right: 0;
  transform-origin: right;
  background-size: cover;
}
.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("./closet_left.png") no-repeat;
  transition: transform 3s ease; /* 변화가 일어날 때 부드럽게 이루어지도록 설정 */
  background-size: cover;
}
.message {
  width: 450px;
  margin: 80px 450px 50px 450px;
}
#btn {
  margin: 50px 500px 50px 600px;
  width: 100px;
  height: 40px;
}
