body {
  /* background-image: url(./background_pink.jpg); */
  background-color: #bc7fcd;
  background-size: cover;
}
#title_logo {
  width: 700px;
  height: 650px;
  float: right;
}
#first_barbie {
  width: 400px;
  height: 600px;
  margin: 100px 0 0 100px;
}
#start_logo,
#exit_logo {
  width: 280px;
  height: 160px;
}
#setting_logo {
  width: 100px;
  height: 100px;
}
